<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="header.html :: header"></div>
    <script type="module" src="/static/js/admin.js" defer></script>
</head>

<body>
<nav th:replace="header.html :: navigation"></nav>

<div id="db-form">
    <span>Database</span>
    <label class="switch">
        <input type="checkbox" id="db-switch">
        <span class="slider round"></span>
    </label>
    <span>In Memory</span>
</div>


<div id="???-form">

</div>


</body>

<div th:replace="footer.html :: copy"></div>

</html>