<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="header.html :: copy"></div>


<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
    <div>
        <p>My Cart</p>
        <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
    </div>
</div>

<div class="container">

    <div class="card d-flex justify-content-between flex-row">
        <select name="categories" id="categories">
            <option th:each="category : ${categories}"
                    th:text="${category.name}"
                    th:value="${category.id}"
                    th:data-category="${category.id}">
            </option>
        </select>
        <select name="suppliers" id="suppliers">
            <option th:each="supplier : ${suppliers}"
                    th:text="${supplier.name}"
                    th:value="${supplier.id}"
                    th:data-supplier="${supplier.id}">
            </option>
        </select>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>