<!DOCTYPE html>
<html lang="en">

<div th:replace="header.html :: copy"></div>

<body>
<a href="/">Home</a>
<div class="container">
    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod: ${cart.keySet()}">
            <div class="card">
                <img class="" th:src="${prod.img}" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success" href="#">+</a>
                        <p th:text="${cart.get(prod)}"></p>
                        <a class="btn btn-success" href="#">-</a>
                    </div>
                </div>
            </div>
        </div>
        <h1>PRETUL TOTAL :</h1>
        <h1 th:text="${totalPrice}"> </h1>
    </div>

</div>
</body>

<div th:replace="footer.html :: copy"></div>

</html>