<!DOCTYPE html>
<html lang="en">

<head >
    <div th:replace="header.html :: header"></div>
    <script type="module" src="/static/js/cart.js" defer></script>
</head>

<body>


<nav th:replace="header.html :: navigation"></nav>

<div class="container">
    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="prod: ${cart.keySet()}">
            <div class="card">
                <img class="" th:src="${prod.img}" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <div class="card-btn-remove" th:data-id="${prod.id}">
                            <a class="btn btn-success add">-</a>
                        </div>
                        <p th:text="${cart.get(prod)}"></p>
                        <div class="card-btn-add" th:data-id="${prod.id}">
                            <a class="btn btn-success add">+</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1>PRETUL TOTAL :</h1>
        <h1 th:text="${totalPrice}"> </h1>
    </div>

</div>
</body>

<div th:replace="footer.html :: copy"></div>

</html>