<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="header.html :: header"></div>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />

</head>

<body>

<nav th:replace="header.html :: navigation"></nav>

<div th:if="${loginError != null}">
    <p th:text="${loginError}"></p>
</div>

<form action="/login" method="post">
    <div class="imgcontainer">
<!--        <img src="img_avatar2.png" alt="Avatar" class="avatar">-->
    </div>

    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <button type="submit">Login</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
        <a class="cancelbtn" href="/">Cancel</a>
        <span class="psw">Forgot <a href="/">password?</a></span>
    </div>
</form>


<div th:replace="footer.html :: copy"></div>
</body>