<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="header.html :: header"></div>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />

</head>

<body>

<nav th:replace="header.html :: navigation"></nav>


<form action="/register" method="post">
    <div class="imgcontainer">
        <!--        <img src="img_avatar2.png" alt="Avatar" class="avatar">-->
    </div>

    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" id="email" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password" required>

        <label for="confirm-password"><b>Password</b></label>
        <input type="password" placeholder="Confirm Password" name="confirm-password" id="confirm-password" required>

        <button type="submit">Register</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
        <a class="cancelbtn" href="/">Cancel</a>
        <span class="psw">Forgot <a href="/">password?</a></span>
    </div>
</form>


<div th:replace="footer.html :: copy"></div>


</body>